<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WarningDonate</key>
	<true/>
	<key>WarningInfo</key>
	<true/>
	<key>FirstLaunch</key>
	<integer>0</integer>
	<key>DefaultLocation</key>
	<integer>721943</integer>
</dict>
</plist>
