<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WarningDonate</key>
	<true/>
	<key>WarningInfo</key>
	<true/>
	<key>FirstLaunch</key>
	<integer>0</integer>
	<key>ReadUserName</key>
	<true/>
	<key>UserName</key>
	<string>Short</string>
	<key>TimeStyle</key>
	<string>24</string>
	<key>UseCal</key>
	<true/>
	<key>UseWeather</key>
	<false/>
	<key>UseMail</key>
	<false/>
	<key>UseNewsQuotes</key>
	<true/>
	<key>AutomaticLocation</key>
	<true/>
	<key>TemperatureStyle</key>
	<string>Celsius</string>
	<key>ForecastWeather</key>
	<string>YES</string>
</dict>
</plist>
